/bootstrap/compiled.php
.env.*.php
.env.php
.env
robots.txt
.htaccess
bower_components
dist
node_modules
.DS_Store
*.sublime-project
*.sublime-workspace
.sublime-grunt.cache
/wp-content/themes/twenty*
/wp-content/upgrade
/wp-content/uploads
/sitemap.*
/wp-config.php
*.sql
*.jscsrc
*.jshintignore
**/.sass-cache
**/.sass-cache/*
wp_theme/*/sass/materialize-src
wp_theme/*/sass/materialize-src/*
wp_theme/**/.fuse_hidden*
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml