@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply text-base;
  }
  h5 {
    @apply text-sm;
  }
  h6 {
    @apply text-xs;
  }
}

[x-cloak] { display: none !important; }

.ssnail-user-status ul,
.ssnail-wysiwyg-editor ul {
    padding-left: 1.3rem;
}
.ssnail-user-status ul li,
.ssnail-wysiwyg-editor ul li {
    list-style-type: circle
}
.ssnail-wysiwyg-editor .trix-button-row .trix-button-group--file-tools,
.ssnail-wysiwyg-editor .trix-button-row .trix-button--icon-code {
    display: none;
}
.ssnail-user-status a,
.ssnail-wysiwyg-editor a {
    text-decoration: underline;
}
.ssnail-user-status blockquote,
.ssnail-wysiwyg-editor blockquote {
    border-left: 3px solid #ccc;
    padding-left: 0.5rem;
}